@import "../../../styles/variables";

.root {
    position: relative;
    width: 1600px;
    margin: auto;
    padding-right: 150px;
    padding-left: 150px;

    @media (max-width: $screen2Xl) {
        position: initial;
        width: 100vw;
        padding-right: 9.375%;
        padding-left: 9.375%;
    }

    @media (max-width: $screenXl) {
        padding-right: 7.8125%;
        padding-left: 7.8125%;
    }
}
