@import "../../../styles/variables";
@import "../../../styles/functions";

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.07em 2.14em;
    font-family: $inter-600;
    font-size: calcVwSize(0.875vw);
    white-space: nowrap;
    letter-spacing: 0.05em;
    border-radius: 1.14em;
    transition: background-color 0.15s ease-out;

    @media (max-width: $screen3Xl) {
        font-size: 0.875vw;
    }

    @media (max-width: $screen2Xl) {
        font-size: 14px;
        padding: 15px 30px;
        border-radius: 15px;
    }

    @media (max-width: $screenXl) {
        font-size: 1.0938vw;
    }

    @media (max-width: $screenLg) {
        font-size: 10px;
    }
}

.yellow-button {
    color: $black;
    background-color: $yellow;

    &:hover {
        background-color: $yellowLight;
    }
}

.black-button {
    color: $white;
    background-color: $black;

    &:hover {
        background-color: $gray;
    }
}

.arrow {
    height: 1em;
    margin-right: 0.714em;
}
