@import "../../../styles/variables";

.root {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 6.25vw 0;
    background-color: $black;

    @media (max-width: $screenXl) {
        font-size: 3.6718vw;
    }

    @media (max-width: $screenLg) {
        padding: 6.5vw 0;
    }

    @media (max-width: $screenSm) {
        padding: 91px 0;
    }

    @media (max-width: $screenXs) {
        padding: 19vw 0;
    }
}

.title {
    visibility: hidden;
    margin: 0;
    color: $white;
    font-family: $gilroy-600;
    font-size: 4vw;

    @media (max-width: $screenXl) {
        font-size: 3.6718vw;
    }

    @media (max-width: $screenLg) {
        font-size: 3.125vw;
    }

    @media (max-width: $screenMd) {
        font-size: 24px;
    }

    @media (max-width: $screenSm) {
        font-size: 6.666vw;
    }
}

.contacts {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6.25vw;
    padding-bottom: 2vw;
    color: $white;
    font-family: $inter-400;
    font-size: 1.5vw;
    column-gap: 2.1875vw;

    @media (max-width: $screen2Xl) {
        padding-bottom: 30px;
        font-size: 24px;
    }

    @media (max-width: $screenXl) {
        padding-bottom: 2.3437vw;
        font-size: 1.875vw;
    }

    @media (max-width: $screenSm) {
        grid-template-columns: 100%;
        font-size: 3.333vw;
        grid-template-rows: min-content;
        grid-auto-flow: row;
        row-gap: 0;
    }
}

.border {
    position: absolute;
    top: auto;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    height: 2px;
    background-color: $white50;

    @media (max-width: $screenLg) {
        height: 1px;
    }
}

.contact-link,
.contact-link:visited {
    color: $white;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.15s ease-out;

    &:hover {
        color: $yellow;
    }
}

.contacts-item {
    display: grid;
    visibility: hidden;
    grid-auto-flow: rows;
    max-height: 100%;
    grid-template-rows: min-content;
    padding-top: 2.8vw;
    border-top: 2px $white50 solid;
    row-gap: 1.25vw;
    column-gap: 3vw;
    grid-template-columns: max-content;
    line-height: 1.4em;
    white-space: nowrap;

    @media (max-width: $screen2Xl) {
        max-height: 208px;
        row-gap: 20px;
    }

    @media (max-width: $screenXl) {
        max-height: 16.25vw;
        row-gap: 2.7344vw;
    }

    @media (max-width: $screenLg) {
        border-top: 1px $white50 solid;
        row-gap: 1.5vw;

        &:last-child {
            & > :nth-last-child(-n + 3) {
                text-align: right;
            }
        }
    }

    @media (max-width: $screenSm) {
        max-height: 100%;
        grid-template-rows: min-content;
        grid-auto-flow: row;
        padding-top: 7vw;
        padding-bottom: 6.5vw;
        grid-template-columns: 1fr;
    }
}

.delimeter {
    display: inline;

    @media (max-width: $screenSm) {
        display: none;
    }
}

.logo {
    width: 6.9375vw;
    margin-top: 3.75vw;
    cursor: pointer;

    @media (max-width: $screen2Xl) {
        width: 111px;
        margin-top: 60px;
    }

    @media (max-width: $screenXl) {
        width: 8.5938vw;
        margin-top: 4.6875vw;
    }

    @media (max-width: $screenLg) {
        width: 10.5468vw;
        margin-top: 3.2552vw;
    }

    @media (max-width: $screenSm) {
        width: 22.5vw;
        margin-top: 8.6vw;
    }
}
