{
    "tabWidth": 4,
    "singleQuote": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["**/*.scss"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
