@import "../../../styles/variables";
@import "../../../styles/mixins";

.review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    height: auto;
    color: $black;
    background-color: $white;

    // 677_395
    @media (max-width: $screenXl) {
        width: 66vw;
        height: 30.8593vw;
    }

    // 536_327
    @media (max-width: $screenLg) {
        flex-direction: column;
        width: 75vw;
        height: 45vw;
    }

    @include for-phone-only {
        width: 84.375vw;
    }

    // 320_428

    @media (max-width: $screenXs) {
        width: 84.375vw;
        height: 120vw;
    }
}

.non-active {
    opacity: 0.6;
    transition: opacity 0.15s ease-out;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.personal-info {
    display: flex;
    flex-direction: column;
    width: 27.28%;
    height: 100%;

    @media (max-width: $screenLg) {
        flex-direction: row;
        width: 100%;
        height: 26.6%;
    }

    @include for-phone-only {
        height: 7%;
    }

    @media (max-width: $screenXs) {
        height: 18%;
    }

    &-text {
        flex-direction: column;

        @media (max-width: $screenLg) {
            width: 75%;
        }

        @include for-phone-only {
            width: 90%;
        }

        @media (max-width: $screenXs) {
            width: 62%;
        }
    }
}

.photo {
    overflow: hidden;
    width: 11.25vw;
    height: 11.25vw;
    margin-bottom: 2vw; //TEMP
    border-radius: 50%;

    &-image {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    @media (max-width: $screenXl) {
        width: 12.5vw;
        height: 12.5vw;
        margin-bottom: 2.4vw;
    }

    @media (max-width: $screenLg) {
        width: 11.328vw;
        height: 11.328vw;
        margin-right: 2.6vw;
        margin-bottom: 0;
    }

    @include for-phone-only {
        width: 6.406vw;
        height: 6.406vw;
        margin-right: 2.65vw;
        margin-bottom: 0;
    }

    @media (max-width: $screenXs) {
        width: 21.388vw;
        height: 21.388vw;
        margin-right: 7.222vw;
    }
}

.name {
    width: 11vw;
    margin: 0 0 0.5vw;
    font-family: $inter-400;
    font-size: 1.5vw;
    line-height: 1.34em;
    letter-spacing: 0.05em;

    @media (max-width: $screenXl) {
        width: 13.5vw;
        margin: 0 0 0.75vw;
        font-size: 1.875vw;
    }

    @media (max-width: $screenLg) {
        width: 100%;
        margin: 0 0 1vw;
        font-size: 2.3437vw;
    }

    @include for-phone-only {
        margin: 0.3vw 0 0;
        font-size: 2.5vw;
    }

    @media (max-width: $screenXs) {
        margin: 0 0 1vw;
        font-size: 4.444vw;
    }
}

.position {
    margin: 0;
    color: $grayBlack;
    font-family: $inter-600;
    font-size: 0.875vw;
    line-height: 1.142em;
    letter-spacing: 0.05em;
    white-space: pre-wrap;
    margin-right: 1.5vw;

    @media (max-width: $screenXl) {
        font-size: 1.0938vw;
        margin-right: 0.5vw;
    }

    @media (max-width: $screenLg) {
        margin: 0;
        font-size: 1.823vw;
        line-height: 1.357em;
    }

    @include for-phone-only {
        font-size: 1.875vw;
    }

    @media (max-width: $screenXs) {
        width: 90%;
        font-size: 3.33vw;
        line-height: 1.333em;
    }
}

.text {
    width: 85%;
    padding-left: 1.5vw;

    height: 100%;
    color: $black;
    font-family: $inter-400;
    font-size: 1.25vw;
    line-height: 1.4em;

    @media (max-width: $screenXl) {
        font-size: 1.4063vw;
    }

    @media (max-width: $screenLg) {
        width: 100%;
        //height: 69.11%;
        font-size: 1.823vw;
        padding-left: 0;
        padding-top: 2vw;
    }

    //@include for-phone-only {
    //    height: 79%;
    //    font-size: 2.1875vw;
    //}

    @media (max-width: $screenXs) {
        height: 77.35%;
        font-size: 3.888vw;
    }

    & > p {
        margin-top: 0;
        margin-bottom: 1vw;

        @media (max-width: $screenXl) {
            margin-bottom: 0.781vw;
        }

        @media (max-width: $screenLg) {
            margin-bottom: 1.04vw;
        }

        @media (max-width: $screenXs) {
            margin-bottom: 2.25vw;
        }
    }
}
