@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/functions";

.review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calcVwSize3XL(62.75vw);
    height: auto;
    color: $black;
    background-color: $white;

    @media (max-width: $screen3Xl) {
        width: 62.75vw;
    }

    // 677_395
    @media (max-width: $screenXl) {
        width: 64.618vw;
        height: 30.8593vw;
    }

    // 536_327
    @media (max-width: $screenLg) {
        flex-direction: column;
        width: 77.48vw;
        height: 45vw;
    }

    @media (max-width: $screenSm) {
        justify-content: flex-start;
    }

    // 320_428
    @media (max-width: $screenXs) {
        width: 84.375vw;
        height: 120vw;
    }
}

.non-active {
    opacity: 0.6;
    transition: opacity 0.15s ease-out;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.personal-info {
    display: flex;
    flex-direction: column;
    width: 27.28%;
    height: 100%;

    @media (max-width: $screenLg) {
        flex-direction: row;
        width: 100%;
        height: 26.6%;
    }

    @media (max-width: $screenSm) {
        height: auto;
    }

    &-text {
        flex-direction: column;

        @media (max-width: $screenLg) {
            width: 75%;
        }
    }
}

.photo {
    overflow: hidden;
    width: calcVwSize3XL(11.25vw);
    height: calcVwSize3XL(11.25vw);
    margin-bottom: calcVwSize3XL(2vw);
    border-radius: 50%;

    @media (max-width: $screen3Xl) {
        width: 11.25vw;
        height: 11.25vw;
        margin-bottom: 2vw;
    }

    @media (max-width: $screenXl) {
        width: 12.5vw;
        height: 12.5vw;
        margin-bottom: 2.4vw;
    }

    @media (max-width: $screenLg) {
        width: 11.328vw;
        height: 11.328vw;
        margin-right: 2.6vw;
        margin-bottom: 0;
    }

    @media (max-width: $screenXs) {
        width: 8.33vw;
        height: 8.33vw;
        margin-right: 3.05vw;
    }

    &-image {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.name {
    width: calcVwSize3XL(11vw);
    margin: 0 0 calcVwSize3XL(0.5vw);
    font-family: $inter-400;
    font-size: calcVwSize3XL(1.5vw);
    line-height: 1.34em;
    letter-spacing: 0.05em;

    @media (max-width: $screen3Xl) {
        width: 11vw;
        margin: 0 0 0.5vw;
        font-size: 1.5vw;
    }

    @media (max-width: $screenXl) {
        width: 13.5vw;
        margin: 0 0 0.75vw;
        font-size: 1.875vw;
    }

    @media (max-width: $screenLg) {
        width: 100%;
        margin: 0 0 1vw;
        font-size: 2.3437vw;
    }

    @include for-phone-only {
        margin: 0.3vw 0 0;
        font-size: 2.5vw;
    }

    @media (max-width: $screenXs) {
        margin: 0 0 1vw;
        font-size: 4.444vw;
    }
}

.position {
    margin: 0;
    margin-right: calcVwSize3XL(1.5vw);
    color: $grayBlack;
    font-family: $inter-600;
    font-size: calcVwSize3XL(0.875vw);
    line-height: 1.142em;
    letter-spacing: 0.05em;
    white-space: pre-wrap;

    @media (max-width: $screen3Xl) {
        margin-right: 1.5vw;
        font-size: 0.875vw;
    }

    @media (max-width: $screenXl) {
        font-size: 1.0938vw;
        margin-right: 0.5vw;
    }

    @media (max-width: $screenLg) {
        margin: 0;
        font-size: 14px;
        line-height: 1.357em;
    }

    @media (max-width: $screenXs) {
        font-family: $inter-400;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }
}

.text {
    width: 85%;
    padding-left: calcVwSize3XL(1.5vw);
    height: 100%;
    color: $black;
    font-family: $inter-400;
    font-size: calcVwSize3XL(1.25vw);
    line-height: 1.4em;

    @media (max-width: $screen3Xl) {
        padding-left: 1.5vw;
        font-size: 1.25vw;
    }

    @media (max-width: $screenXl) {
        font-size: 1.4063vw;
    }

    @media (max-width: $screenLg) {
        width: 100%;
        font-size: 1.823vw;
        padding-left: 0;
        padding-top: 2vw;
    }

    @media (max-width: $screenXs) {
        font-size: 13px;
        height: auto;
    }

    @media (max-width: $screen3Xs) {
        font-size: 12px;
        height: auto;
    }

    & > p {
        margin-top: 0;
        margin-bottom: calcVwSize3XL(1vw);

        @media (max-width: $screen3Xl) {
            margin-bottom: 1vw;
        }

        @media (max-width: $screenXl) {
            margin-bottom: 0.781vw;
        }

        @media (max-width: $screenLg) {
            margin-bottom: 1.04vw;
        }

        @media (max-width: $screenXs) {
            margin-bottom: 2.25vw;
        }
    }
}
