@import "../../../styles/variables";

.root {
    display: flex;
    min-height: max(600px, 100vh);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.cases-container {
    display: flex;
    overscroll-behavior: none;
    width: auto;
    height: 100vh;
    flex-wrap: nowrap;
}

.case-info {
    // height: 300vh;
    width: 65vw;
    overflow: hidden;
    display: flex;
    overscroll-behavior: none;
    flex-direction: column;
}

.case-image {
    height: 100%;
    // width: 105vw;
    overflow: hidden;
    display: flex;
    overscroll-behavior: none;
    flex-wrap: nowrap;
}

.bullets {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-self: center;
    margin-left: 9.375vw;
}

.button-bullet {
    background: #c3c3c3;
    width: 0.75vw;
    height: 0.75vw;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
}

.button-bullet-active {
    background: $black;
}
