@import "../../../styles/variables";

.header {
    margin: 3.846vw 0 0;

    @media (max-width: $screen2Xl) {
        margin: 50px 0 0;
    }

    @media (max-width: $screenXl) {
        margin: 4vw 0 0;
    }

    @media (max-width: $screenLg) {
        margin: 30px 0 0;
    }

    @media (max-width: $screenXs) {
        margin: 30px 0 0;
    }
}

.hero-button {
    visibility: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    min-height: max(600px, 100vh);
    background-color: $black;
}

.content {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 1.5vw 0 4vw;

    @media (max-width: $screenLg) {
        padding: 10% 0 11%;
    }

    @media (max-width: $screenXs) {
        padding: 10% 0 8%;
    }

    &-en {
        padding: 1.5vw 0 6vw;

        @media (max-width: $screenXs) {
            padding: 15% 0 8%;
        }
    }
}

.headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    margin-bottom: 8.625vw;
    color: $white;
    font-family: $gilroy-700;
    letter-spacing: 0.02em;

    &-l1,
    &-l2,
    &-l3,
    &-l4 {
        visibility: hidden;
    }

    @media (max-width: $screenXl) {
        margin-bottom: 6.4vw;
    }

    @media (max-width: $screenLg) {
        margin-bottom: 3.8vw;
        letter-spacing: 0;
    }

    @media (max-width: $screenXs) {
        margin-bottom: 7.5vw;
    }

    &-en {
        margin-bottom: 4.7vw;
        //font-size: 7.9375vw;
        line-height: 0.97em;

        //@media (max-width: $screenXl) {
        //    font-size: 8.2812vw;
        //    line-height: 0.94em;
        //}

        @media (max-width: $screenLg) {
            margin-bottom: 7.5vw;
            //font-size: 9.7656vw;
            //line-height: 1.1em;
            letter-spacing: 0;
        }

        @media (max-width: $screenSm) {
            margin-bottom: 8vw;
        }

        @media (max-width: $screenXs) {
            margin-bottom: 4vw;
            //font-size: 11.6vw;
            //line-height: 1.25em;
        }
    }
}

.slider {
    width: 100%;
    height: 6.3vw;
    font-size: 5.65vw;
    line-height: 0.9em;
    opacity: 0;

    @media (max-width: $screenXl) {
        font-size: 5.85vw;
        height: 6.5vw;
    }

    @media (max-width: $screenLg) {
        font-size: 9.2vw;
        height: 10vw;
    }
}

.second-line {
    display: inline-flex;
    align-self: flex-end;

    @media (max-width: $screenXs) {
        align-self: flex-start;
    }
}

.two-lines-slider {
    font-size: 9.2vw;
    line-height: 1.1;
    height: 20vw;
    align-items: flex-start;
}

.slide {
    display: flex;
    align-items: center;
    user-select: none;
    transition: color 750ms cubic-bezier(.68,.35,.04,1.09) !important;

    @media (max-width: $screenLg) {
        justify-content: flex-start;
    }
}

.center {
    justify-content: center;
}

.small-offset-right {
    justify-content: flex-end;
    margin-right: 8vw;

    @media (max-width: $screenXl) {
        margin-right: 12vw;
    }
}

.middle-offset-right {
    justify-content: flex-end;
    margin-right: 10vw;

    @media (max-width: $screenXl) {
        margin-right: 12vw;
    }
}

.big-offset-right {
    justify-content: flex-end;
    margin-right: 11vw;
}

.white {
    color: $white;
}

.cream {
    color: $cream;
}

.orange {
    color: $orange;
}

.blue {
    color: $blue;
}

.purple {
    color: $purple;
}

.subtext {
    visibility: hidden;
    margin: 0;
    color: $white;
    font-family: $inter-400;
    font-size: 2vw;
    line-height: 1.21em;
    letter-spacing: 0.02em;

    @media (max-width: $screen2Xl) {
        font-size: 2vw;
    }

    @media (max-width: $screenXl) {
        font-size: 1.875vw;
    }

    @media (max-width: $screenLg) {
        margin-bottom: 45px;
        font-size: 24px;
    }

    @media (max-width: $screenMd) {
        font-size: 3.13vw;
    }

    @media (max-width: $screenXs) {
        margin-bottom: 42px;
        font-size: 3.8888vw;
    }

    &-en {
        @media (max-width: $screenLg) {
            & > br {
                display: none;
            }

            width: 55%;
            margin-bottom: 0;
            font-size: 3.125vw;
        }

        @media (max-width: $screenSm) {
            & > br {
                display: inline;
            }

            width: 100%;
            margin-bottom: 8vw;
        }

        @media (max-width: $screenXs) {
            margin-bottom: 10vw;
            font-size: 3.888vw;
        }
    }
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screenLg) {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 121px;
    }

    &-en {
        align-items: center;

        @media (max-width: $screenLg) {
            flex-direction: row;
            align-items: center;
        }

        @media (max-width: $screenSm) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }
}
