@import "../../../styles/variables";

.headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    margin-bottom: 7.8vw;
    color: $white;
    font-family: $gilroy-700;
    letter-spacing: 0.02em;

    &-l1,
    &-l2,
    &-l3,
    &-l4 {
        visibility: hidden;
    }

    @media (max-width: $screenXl) {
        margin-bottom: 7vw;
    }

    @media (max-width: $screenLg) {
        margin-bottom: 3.8vw;
        letter-spacing: 0;
    }

    @media (max-width: $screenXs) {
        margin-bottom: 7.5vw;
    }

    &-en {
        margin-bottom: 4.7vw;
        //font-size: 7.9375vw;
        line-height: 0.97em;

        //@media (max-width: $screenXl) {
        //    font-size: 8.2812vw;
        //    line-height: 0.94em;
        //}

        @media (max-width: $screenLg) {
            margin-bottom: 7.5vw;
            //font-size: 9.7656vw;
            //line-height: 1.1em;
            letter-spacing: 0;
        }

        @media (max-width: $screenSm) {
            margin-bottom: 8vw;
        }

        @media (max-width: $screenXs) {
            margin-bottom: 4vw;
            //font-size: 11.6vw;
            //line-height: 1.25em;
        }
    }
}

.slider {
    width: 100%;
    height: 6.3vw;
    font-size: 5.6vw;
    line-height: 0.9em;
    opacity: 0;

    @media (max-width: $screenXl) {
        font-size: 5.8vw;
        height: 6.5vw;
    }

    @media (max-width: $screenLg) {
        font-size: 9.2vw;
        height: 10vw;
    }
}

.second-line {
    display: inline-flex;
    align-self: flex-end;

    @media (max-width: $screenXs) {
        align-self: flex-start;
    }
}

.third-line {
    @media (max-width: $screenLg) {
        font-size: 9.2vw;
        line-height: 1.1;
        height: 20vw;
        align-items: flex-start;
    }
}

.slide {
    display: flex;
    align-items: center;
    user-select: none;
    transition: color 750ms cubic-bezier(0.68, 0.35, 0.04, 1.09) !important;

    @media (max-width: $screenLg) {
        justify-content: flex-start;
    }
}

.center {
    justify-content: center;
}

.small-offset-right {
    justify-content: flex-end;
    margin-right: 8vw;

    @media (max-width: $screenXl) {
        margin-right: 12vw;
    }
}

.middle-offset-right {
    justify-content: flex-end;
    margin-right: 10vw;

    @media (max-width: $screenXl) {
        margin-right: 12vw;
    }
}

.big-offset-right {
    justify-content: flex-end;
    margin-right: 11vw;
}

.white {
    color: $white;
}

.cream {
    color: $cream;
}

.orange {
    color: $orange;
}

.blue {
    color: $blue;
}

.purple {
    color: $purple;
}
