@import "../../../styles/variables";
@import "../../../styles/functions";

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: calcVwSize3XL(1.5vw);
    margin-bottom: calcVwSize3XL(2.5vw);

    @media (max-width: $screen3Xl) {
        column-gap: 1.5vw;
        margin-bottom: 2.5vw;
    }

    @media (max-width: $screen2Xl) {
        margin-bottom: 40px;
    }

    @media (max-width: $screenMd) {
        grid-template-columns: 1.4fr 1fr 1fr;
        column-gap: 3vw;
        margin-bottom: 3.91vw;
    }

    @media (max-width: $screenSm) {
        grid-template-columns: 3fr 1fr;
        column-gap: 2vw;
        row-gap: 10.42vw;
        margin-bottom: 40px;
    }
}

.logo {
    height: calcVwSize3XL(1.91vw);

    @media (max-width: $screen3Xl) {
        height: 1.91vw;
    }

    @media (max-width: $screen2Xl) {
        height: 31px;
    }

    @media (max-width: $screenMd) {
        justify-self: flex-end;
        order: 1;
        height: 2.47vw;
    }

    @media (max-width: $screenXs) {
        height: 3.056vw;
    }

    @media (max-width: $screen2Xs) {
        height: 14px;
    }
}

.contacts {
    font-family: $inter-400;
    font-size: calcVwSize3XL(0.875vw);
    line-height: 1.5em;
    font-weight: 400;
    color: $white;

    @media (max-width: $screen3Xl) {
        font-size: 0.875vw;
    }

    @media (max-width: $screen2Xl) {
        font-size: 14px;
    }

    @media (max-width: $screenMd) {
        font-size: 12px;
    }

    &-item {
        margin-top: 0;
        margin-bottom: 10px;

        & a {
            color: $white;

            &:hover {
                color: $yellow;
            }
        }
    }
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: calcVwSize3XL(2.6875vw);

    @media (max-width: $screen3Xl) {
        column-gap: 2.6875vw;
    }

    @media (max-width: $screenXl) {
        column-gap: 2.34vw;
    }

    @media (max-width: $screenMd) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4.036vw;
    }

    @media (max-width: $screenSm) {
        order: 2;
        grid-column: 1/3;
        column-gap: 21vw;
    }

    @media (max-width: $screenXs) {
        column-gap: 13.75vw;
    }
}

.penultimate {
    @media (max-width: $screenMd) {
        order: 1;
    }
}

.last {
    @media (max-width: $screenMd) {
        order: 2;
    }
}

.line {
    height: 1px;
    border: none;
    margin: 0;
    background-color: $white;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: calcVwSize3XL(0.625vw);

    @media (max-width: $screen3Xl) {
        margin-top: 0.625vw;
    }

    @media (max-width: $screen2Xl) {
        margin-top: 10px;
    }

    @media (max-width: $screenSm) {
        flex-direction: column;
        margin-top: 20px;
    }

    & a {
        color: $white;

        @media (max-width: $screenSm) {
            color: $white50;
        }

        &:hover {
            color: $yellow;
        }
    }

    &-first-block {
        display: flex;

        @media (max-width: $screenSm) {
            flex-direction: column;
        }
    }

    &-fist-item {
        margin-right: calcVwSize3XL(1.3125vw);

        @media (max-width: $screen3Xl) {
            margin-right: 1.3125vw;
        }

        @media (max-width: $screen2Xl) {
            margin-right: 21px;
        }

        @media (max-width: $screenSm) {
            margin-right: 0;
        }
    }

    &-item {
        @media (max-width: $screenSm) {
            margin-bottom: 10px;
        }
    }
}
