@import "@/styles/variables";
@import "@/styles/functions";

.root {
    padding: 40px 0;

    @media (max-width: $screenSm) {
        padding: 30px 0;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (max-width: $screenXl) {
        flex-direction: column;
        align-items: self-start;
    }

    &-info {
        display: grid;
        grid-template-columns: 155px 300px 230px;
        column-gap: 92px;
        align-items: center;

        @media (max-width: $screen2Xl) {
            column-gap: 50px;
        }

        @media (max-width: $screenXl) {
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            column-gap: 30px;
        }

        @media (max-width: $screenMd) {
            grid-template-columns: 20.8vw 1fr 1fr;
            column-gap: 3.8vw;
        }

        @media (max-width: $screenSm) {
            grid-template-columns: 1fr;
            row-gap: 16px;
            max-width: 360px;

            &-bottom {
                row-gap: 10px;
            }
        }
    }
}

.logo {
    height: 31px;

    @media (max-width: $screenXl) {
        margin-bottom: 20px;
    }

    @media (max-width: $screenMd) {
        height: 24px;
    }
}

.legal {
    font-family: $inter-400;
    font-size: 14px;
    line-height: 2.24em;
    color: $white;

    @media (max-width: $screenLg) {
        font-size: 12px;
        line-height: 1.55em;
    }
}

.contacts {
    font-family: $inter-400;
    font-size: 14px;
    line-height: 2.24em;
    color: $white;

    @media (max-width: $screenLg) {
        font-size: 12px;
        line-height: 1.55em;
    }

    &-item {
        & a {
            color: $white;

            &:hover {
                color: $yellow;
            }
        }
    }
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    grid-template-rows: min-content min-content min-content;
    row-gap: 10px;

    @media (max-width: $screen2Xl) {
        column-gap: 30px;
    }

    @media (max-width: $screenLg) {
        row-gap: 5px;
        column-gap: 3.9vw;
    }

    @media (max-width: $screenSm) {
        column-gap: 30px;
        grid-template-columns: min-content min-content;
    }

    &-item {
        height: 21px;
        color: $white;
        font-size: 14px;
        line-height: 1em;
        align-content: center;
        font-family: $inter-400;

        @media (max-width: $screenLg) {
            font-size: 12px;
            height: 19px;
        }

        & a {
            color: $white;

            &:hover {
                color: $yellow;
            }
        }
    }
}

.line {
    height: 1px;
    border: none;
    margin: 0;
    background-color: $white;
}

.bottom-container {
    margin-top: 20px;
    display: flex;

    @media (max-width: $screenXl) {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    &-item {
        color: $white;
        font-size: 14px;
        line-height: 1.48em;
        font-family: $inter-400;

        @media (max-width: $screenLg) {
            font-size: 12px;
            line-height: 1.55em;
        }

        @media (max-width: $screenSm) {
            opacity: 0.5;
        }

        & > a {
            color: $white;

            &:hover {
                color: $yellow;
            }
        }
    }
}

.company-info {
    @media (max-width: $screenXl) {
        margin-top: 20px;
    }

    @media (max-width: $screenSm) {
        opacity: 1;
    }
}
