@import "../../../styles/variables";

.root {
    padding-bottom: 11.5625vw;

    @media (max-width: $screen2Xl) {
        padding-bottom: 222px;
    }

    @media (max-width: $screenXl) {
        padding-bottom: 144px;
    }

    @media (max-width: $screenLg) {
        padding-bottom: 157px;
    }

    @media (max-width: $screenSm) {
        padding-bottom: 200px;
    }

    @media (max-width: $screenXs) {
        padding-bottom: 252px;
    }
}

.root-height-auto {
    min-height: 600px;
    padding-bottom: 100px;

    @media (max-width: $screenXl) {
        min-height: 480px;
    }

    @media (max-width: $screenLg) {
        min-height: 256px;
        padding-bottom: 50px;
    }

    @media (max-width: $screenSm) {
        min-height: auto;
        padding-bottom: 100px;
    }
}

.headline {
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 1.3vw;
    line-height: 4.8vw;

    @media (max-width: $screenXl) {
        margin-bottom: 1.2vw;
    }

    @media (max-width: $screenMd) {
        margin-bottom: 1.3vw;
    }

    @media (max-width: $screenSm) {
        line-height: 29px;
        margin-bottom: 10px;
    }
}

.subtext {
    visibility: hidden;
    width: 90%;
    margin-bottom: 4.4vw;
    margin-top: 0;
    color: $black;
    font-family: $inter-400;
    font-size: 2vw;
    letter-spacing: 0.02em;

    @media (max-width: $screenXl) {
        font-size: 1.875vw;
        margin-bottom: 3.9vw;
    }

    @media (max-width: $screenLg) {
        font-size: 1.83vw;
    }

    @media (max-width: $screenMd) {
        font-size: 14px;
    }

    @media (max-width: $screenSm) {
        margin-bottom: 50px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    padding-left: 34.2%;

    @media (max-width: $screenSm) {
        padding-left: 0;
    }
}

.arrow {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5625em;
    transition: transform 0.15s ease-out;
}

.vacancies {
    margin-bottom: 3.2vw;
    padding-left: 0;
    list-style: none;

    @media (max-width: $screenSm) {
        margin-bottom: 25px;
    }

    &-item {
        visibility: hidden;
        font-family: $gilroy-600;
        font-size: 3vw;
        white-space: nowrap;

        @media (max-width: $screenXl) {
            font-size: 2.5vw;
        }

        @media (max-width: $screenLg) {
            width: 50%;
            font-size: 2.09vw;
        }

        @media (max-width: $screenMd) {
            font-size: 16px;
        }

        @media (max-width: $screenSm) {
            width: 90%;
            font-size: 18px;
        }

        &:not(:last-child) {
            margin-bottom: 1.7em;

            &::after {
                position: absolute;
                display: block;
                opacity: 0.2;
                width: 100%;
                height: 2px;
                margin-top: 0.85em;
                background-color: $black;
                content: "";
            }
        }
    }

    &-text {
        padding-right: 0.5em;
        white-space: break-spaces;
    }

    &-text-container {
        position: relative;
        height: 100%;
    }

    &-link {
        color: $black;

        &:hover > span > .arrow {
            transform: translateX(10%);
        }
    }
}

.contact-hr {
    visibility: hidden;
    width: auto;
    color: $black;
    font-family: $inter-400;
    font-size: 1.5vw;
    line-height: 1.55em;
    margin-top: 0;
    margin-bottom: 0;

    @media (max-width: $screen2Xl) {
        font-size: 24px;
    }

    @media (max-width: $screenXl) {
        font-size: 1.875vw;
    }

    @media (max-width: $screenLg) {
        font-size: 1.5625vw;
    }

    @media (max-width: $screenMd) {
        font-size: 12px;
    }

    @media (max-width: $screenSm) {
        width: 90%;

        br {
            display: none;
        }
    }
}

.email {
    color: $black;
    font-family: $inter-700;
    text-decoration: underline;
}
