@import "../../../styles/variables";

.root {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: max(600px, 100vh);
    background-color: $white;
    border-top: 1px solid $yellow; // TEMP
    padding: 6.25vw 0;
}
