@import "../../../styles/variables";

.root {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 3.75vw 0;
    background-color: $yellow;
}

.title {
    margin: 0;
    color: $black;
    font-family: $gilroy-600;
    font-size: 2.9375vw;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
