@import "../../../styles/variables";

.header {
    position: fixed;
    transform: translateY(-68px);
    z-index: 9999;
    width: 100%;
    padding-top: 5px;
    opacity: 0;

    @media (max-width: $screenSm) {
        transform: translateY(-54px);
    }
}

.menu-button {
    height: 35px;
    padding: 10px 17px;
    border: 1px solid $yellow;
    border-radius: 10px;
    background-color: transparent;
    color: $yellow;
    font-size: 12px;
    margin-left: 40px;

    &:hover {
        color: $yellowLight;
        border: 1px solid $yellowLight;
        background-color: transparent;
    }

    @media (max-width: $screenLg) {
        margin-right: 20px;
        margin-left: 0;
    }

    @media (max-width: $screenSm) {
        height: 26px;
        font-size: 8px;
        border-radius: 9px;
        padding: 8px 12px;

        margin-right: 15px;
        margin-left: 0;
    }
}
