@import "../../../styles/variables";

.header {
    position: fixed;
    top: -4.25vw;
    z-index: 9999;
    width: 100vw;
    padding-top: 5px;

    @media (max-width: $screen2Xl) {
        top: -68px;
    }

    @media (max-width: $screenSm) {
        top: -54px;
    }
}

.menu-button {
    height: 2vw;
    font-size: 0.6875vw;
    margin-left: 2.5vw;

    border: 1px solid $yellow;
    background-color: transparent;
    color: $yellow;

    &:hover {
        color: $yellowLight;
        border: 1px solid $yellowLight;
        background-color: transparent;
    }

    @media (max-width: $screen2Xl) {
        height: 32px;
        font-size: 11px;
        margin-left: 40px;
    }

    @media (max-width: $screenLg) {
        font-size: 10px;
        margin-right: 20px;
        margin-left: 0;
    }

    @media (max-width: $screenSm) {
        height: 26px;
        margin-right: 14px;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;

        & img {
            display: none;
        }
    }
}
