@import "../../../styles/variables";

.header {
    position: fixed;
    top: -4.25vw;
    z-index: 9999;
    width: 100vw;
    padding-top: 5px;

    @media (max-width: $screen2Xl) {
        top: -68px;
    }

    @media (max-width: $screenSm) {
        top: -54px;
    }
}

.menu-button {
    height: 2vw;
    font-size: 0.6875vw;
    margin-right: 3.125vw;

    @media (max-width: $screen2Xl) {
        height: 32px;
        font-size: 11px;
        margin-right: 50px;
    }

    @media (max-width: $screenMd) {
        font-size: 10px;
        margin-right: 30px;
    }

    @media (max-width: $screenSm) {
        height: 26px;
        margin-right: 14px;
        padding-top: 0;
        padding-bottom: 0;

        & img {
            display: none;
        }
    }
}
