@use "sass:string";
@use "sass:list";

@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff) {
    $src: null;

    @each $ext in $exts {
        $src: list.append(
            $src,
            url("#{$path}.#{$ext}") format(string.quote($ext)),
            comma
        );
    }

    @font-face {
        font-family: string.quote($name);
        font-weight: $weight;
        font-style: $style;
        src: $src;
    }
}
