$textColor: #000;
$bgColor: #fff;
$yellow: #ffd101;
$white: #fff;
$black: #000;
$grayBlack: #828384;

$screen3Xl: 1920px;
$screen2Xl: 1600px;
$screenXl: 1280px;
$screenLg: 992px;
$screenMd: 768px;
$screenSm: 640px;
$screenXs: 480px;
$screen2Xs: 360px;
$screen3Xs: 320px;

/* fonts */
$gilroy-400: "Gilroy-Regular";
$gilroy-600: "Gilroy-SemiBold";
$gilroy-700: "Gilroy-Bold";

$inter-400: "Inter-Regular";
$inter-600: "Inter-SemiBold";
$inter-700: "Inter-Bold";
