@import "../../../styles/variables";

.root {
    position: relative;
    width: 100vw;
    padding: 100px 0;
    overflow: hidden;
    display: grid;
    place-content: center;

    // if width = 1601 и больше (стартуем от 1601) =>
    // берем за основу что минимальная высота 950px (на ширине 1601) =>
    // берем большую высоту для расчета наименьешей величины пропорции 1100px =>
    // (1100 / 1600) * 100 = 68.75vw => получаем пропорцию =>
    // уменьшаем величину пропорцию, 68.75 / 3 = 22.92vw =>
    // и добавляем фиксированное значение высоты чтобы получить 950px высоты на 1601px ширины
    // Итог: За счет такого подсчета коэффицент увеличения мы делаем меньше на больших разрешениях (например 3840px)
    min-height: calc(22.92vw + 583px);

    @media (max-width: $screen2Xl) {
        min-height: max(600px, 100vh);
        display: block;
    }

    @media (max-width: $screenXl) {
        min-height: auto;
    }

    @media (max-width: $screenLg) {
        padding: 50px 0;
    }

    @media (max-width: $screenSm) {
        padding: 32px 0;
    }
}

.light {
    background-color: $white;
    color: $black;
}

.dark {
    background-color: $black;
    color: $white;
}
