@import "../../../styles/variables";

.root {
    position: relative;
    width: 100vw;
    padding: 100px 0;
    overflow: hidden;
    // TODO: Need to recalculate and comment
    min-height: max(34.375vw + 400px, 600px);
    display: grid;
    place-content: center;

    @media (max-width: $screen2Xl) {
        min-height: max(600px, 100vh);
        display: block;
    }

    @media (max-width: $screenXl) {
        min-height: auto;
    }

    @media (max-width: $screenLg) {
        padding: 50px 0;
    }

    @media (max-width: $screenSm) {
        padding: 32px 0;
    }
}

.light {
    background-color: $white;
    color: $black;
}

.dark {
    background-color: $black;
    color: $white;
}
