@import "../../../styles/variables";

.root {
    position: relative;
    width: 100vw;
    padding: 100px 0;
    overflow: hidden;
    display: grid;
    place-content: center;

    // if width > 1970 (стартуем от 1971) =>
    // берем за основу что минимальная высота блоков такого типа 900px (на ширине 1970) =>
    // (900 / 1970) * 100 = 45.685vw => получаем пропорцию =>
    // уменьшаем величину пропорции, 45.685 / 2 = 22.84vw =>
    // и добавляем фиксированное значение высоты чтобы получить 900px высоты на 1971px ширины
    // Итог: За счет такого подсчета коэффицент увеличения мы делаем меньше на больших разрешениях (4k)
    min-height: calc(22.84vw + 449px);

    @media (max-width: $screen3Xl) {
        min-height: max(600px, 100vh);
        display: block;
    }

    @media (max-width: $screenXl) {
        min-height: auto;
    }

    @media (max-width: $screenLg) {
        padding: 50px 0;
    }

    @media (max-width: $screenSm) {
        padding: 32px 0;
    }
}

.light {
    background-color: $white;
    color: $black;
}

.dark {
    background-color: $black;
    color: $white;
}
