@import "../../../styles/variables";

.root {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: max(600px, 100vh);
    background-color: $black;
}

.task {
    margin-left: 33%;
    color: $white;
    font-family: $gilroy-600;
    font-size: 3vw;
    list-style: none;
}

.task-item {
    overflow: hidden;
    line-height: 1.35em;
    list-style: none;

    &:not(:last-child) {
        margin-bottom: 1.2em;

        &::after {
            position: absolute;
            display: block;
            opacity: 0.5;
            width: 100%;
            height: 2px;
            margin-top: 0.6em;
            background-color: $white;
            content: "";
        }
    }
}

.thin-text {
    opacity: 0.5;
    color: $white;
    font-family: $gilroy-400;
    font-size: 0.67em;
}
