@import "@/styles/variables";
@import "@/styles/functions";

.root {
    display: flex;
    align-items: center;
}

.task {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 34.2%;
    padding: 0;
    color: $white;
    font-family: $gilroy-600;
    font-size: calcVwSize3XL(3vw);
    list-style: none;

    @media (max-width: $screen3Xl) {
        font-size: 3vw;
    }

    @media (max-width: $screenXl) {
        font-size: 2.5vw;
    }

    @media (max-width: $screenSm) {
        margin-left: 0;
        font-size: 18px;
    }
}

.task-item {
    position: relative;
    visibility: hidden;
    line-height: 1.35em;
    list-style: none;

    & > br {
        display: none;

        @media (max-width: $screenSm) {
            display: inline;
        }
    }

    &:not(:last-child) {
        margin-bottom: 1.2em;

        @media (max-width: $screenXl) {
            margin-bottom: 1.4em;
        }

        @media (max-width: $screenLg) {
            margin-bottom: 2.77em;
        }

        @media (max-width: $screenSm) {
            margin-bottom: 2.24em;
        }

        &::after {
            position: absolute;
            top: 2em;
            display: block;
            opacity: 0.5;
            width: 100%;
            height: 2px;
            background-color: $white;
            content: "";

            @media (max-width: $screen3Xl) {
                width: 200%;
            }

            @media (max-width: $screenXl) {
                top: 2em;
            }

            @media (max-width: $screenLg) {
                top: 2.7em;
            }

            @media (max-width: $screenMd) {
                height: 1px;
            }

            @media (max-width: $screenSm) {
                top: 3.8em;
                width: 100%;
            }
        }
    }
}

.thin-text {
    opacity: 0.5;
    color: $white;
    font-family: $gilroy-400;
    font-size: 0.67em;

    @media (max-width: $screenXl) {
        font-size: 0.75em;
    }

    @media (max-width: $screenSm) {
        font-size: 0.875em;
    }
}
