@import "../../../styles/variables";

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: $screenSm) {
        font-size: 24px;
    }
}

.headline {
    visibility: hidden;
    margin-bottom: 60px;

    &-en {
        margin-bottom: 76.8px;

        @media (max-width: $screen2Xl) {
            margin-bottom: 4.8vw;
        }
    }

    @media (max-width: $screen2Xl) {
        margin-bottom: 3.75vw;
    }

    @media (max-width: $screenXl) {
        margin-bottom: 48px;
        font-size: 3.6719vw;
    }

    @media (max-width: $screenMd) {
        margin-bottom: 30px;
        font-size: 24px;
    }

    @media (max-width: $screenSm) {
        margin-bottom: 24px;
    }
}

.logos {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    justify-content: space-between;
    align-items: center;
    row-gap: 47px;

    @media (max-width: $screen2Xl) {
        row-gap: 2.9375vw;
    }

    @media (max-width: $screenXl) {
        row-gap: 2.3438vw;
    }

    @media (max-width: $screenLg) {
        row-gap: 4.55vw;
    }

    @media (max-width: $screenXs) {
        grid-template-columns: repeat(3, min-content);
        row-gap: 8vw;
    }

    &-en {
        row-gap: 52.8px;

        @media (max-width: $screen2Xl) {
            row-gap: 3.3vw;
        }

        @media (max-width: $screenXl) {
            row-gap: 3.5vw;
        }

        @media (max-width: $screenLg) {
            row-gap: 5vw;
        }

        @media (max-width: $screenXs) {
            row-gap: 8vw;
        }
    }
}

.logo {
    visibility: hidden;
    justify-self: center;
    height: 55px;

    @media (max-width: $screen2Xl) {
        height: 3.4375vw;
    }

    @media (max-width: $screenXs) {
        height: 7.33vw;
    }
}
