@import "../../../styles/variables";

.root {
    min-height: auto;
    padding-bottom: 10.4vw;

    @media (max-width: $screen2Xl) {
        padding-bottom: 207px;
    }

    @media (max-width: $screenXl) {
        padding-bottom: 156px;
        font-size: 3.6718vw;
    }

    @media (max-width: $screenLg) {
        padding-bottom: 77px;
    }

    @media (max-width: $screenSm) {
        padding-bottom: 120px;
    }

    @media (max-width: $screen2Xs) {
        padding-bottom: 175px;
    }
}

.title {
    visibility: hidden;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.75vw;
}

.content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 4.375vw;
    //margin-left: 28vw;
    color: $white;

    @media (max-width: $screenXl) {
        margin-top: 4.6875vw;
    }

    @media (max-width: $screenMd) {
        margin-top: 5.85vw;
    }

    @media (max-width: $screenSm) {
        grid-column: 1/3;
        margin-top: 6.25vw;
    }

    @media (max-width: $screen2Xs) {
        margin-top: 8.33vw;
    }
}

.content-row {
    @media (max-width: $screenXs) {
        display: flex;
        flex-direction: column;
    }

    &-first {
        margin-bottom: 3.125vw;

        @media (max-width: $screenXl) {
            margin-bottom: 1.5625vw;
        }

        @media (max-width: $screenXl) {
            margin-bottom: 1.5625vw;
        }

        @media (max-width: $screenMd) {
            margin-bottom: 2.22vw;
        }

        @media (max-width: $screenXs) {
            margin-bottom: 5.42vw;
        }

        @media (max-width: $screen2Xs) {
            margin-bottom: 7.23vw;
        }
    }
}

.mail {
    display: inline-flex;
    color: $white;
    font-family: $inter-600;
    font-size: 2.5vw;
    line-height: 1.2em;
    white-space: nowrap;
    letter-spacing: 0.02em;
    transition: color 0.15s ease-out;

    &:hover {
        color: $yellow;
    }

    @media (max-width: $screenXl) {
        font-size: 2.5vw;
        line-height: 1.35em;
    }

    @media (max-width: $screenMd) {
        font-size: 2.1vw;
        line-height: 1.1875em;
    }

    @media (max-width: $screenSm) {
        font-size: 2.5vw;
        line-height: 1.1875em;
    }

    @media (max-width: $screenXs) {
        font-size: 3.75vw;
        line-height: 1.22em;
        margin-bottom: 4px;
    }

    @media (max-width: $screen2Xs) {
        font-size: 5vw;
    }
}

.description {
    font-family: $inter-400;
    font-size: 2vw;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    white-space: pre-wrap;

    @media (max-width: $screenXl) {
        font-size: 1.875vw;
    }

    @media (max-width: $screenMd) {
        font-size: 1.823vw;
    }

    @media (max-width: $screenSm) {
        font-size: 2.1875vw;
    }

    @media (max-width: $screenXs) {
        font-size: 2.92vw;
        line-height: 1.5em;
    }

    @media (max-width: $screen2Xs) {
        font-size: 3.89vw;
    }

    &:before {
        content: "\A0\2014\A0";

        @media (max-width: $screenXs) {
            content: "";
        }
    }
}

.yellow {
    color: $yellow;
}
