@import "../../../styles/variables";
@import "../../../styles/functions";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calcVwSize3XL(25.625vw);
    height: calcVwSize3XL(35.8125vw);
    background-color: $white;

    @media (max-width: $screen3Xl) {
        width: 25.625vw;
        height: 35.8125vw;
    }

    @media (max-width: $screenXl) {
        width: 26.6vw;
        height: 33.75vw;
    }

    @media (max-width: $screenLg) {
        width: 26.6vw;
        height: 44.14vw;
    }

    @media (max-width: $screenSm) {
        width: 84vw;
        height: 81.666vw;
    }
}

.cover {
    overflow: hidden;
    width: 100%;
    height: 58.6%;
    background-position: 0 50%;
    background-size: cover;

    @media (max-width: $screenXl) {
        height: 50.5%;
    }

    @media (max-width: $screenLg) {
        height: 47%;
    }

    @media (max-width: $screenSm) {
        height: 51%;
    }
}

.curtain {
    width: 110%;
    height: 105%;
    margin-top: -5%;
    margin-left: -5%;
    background-color: $black;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 41.4%;
    padding: 5% 4.5%;
    color: $black;
    font-family: $gilroy-400;
    font-size: calcVwSize3XL(1.5vw);
    text-align: center;

    @media (max-width: $screen3Xl) {
        font-size: 1.5vw;
    }

    @media (max-width: $screen2Xl) {
        font-size: 24px;
    }

    @media (max-width: $screenXl) {
        height: 49.5%;
        font-size: 1.875vw;
    }

    @media (max-width: $screenLg) {
        align-items: stretch;
        height: 53%;
    }

    @media (max-width: $screenSm) {
        align-items: center;
        height: 49%;
        padding: 5% 12%;
        font-size: 3.888vw;
    }

    &-text {
        margin: 0 0 calcVwSize3XL(2.6vw);

        @media (max-width: $screen3Xl) {
            margin: 0 0 2.6vw;
        }

        @media (max-width: $screen2Xl) {
            margin: 0 0 2.3vw;
        }

        @media (max-width: $screenLg) {
            line-height: 1.48em;
        }

        @media (max-width: $screenSm) {
            margin: 0 0 5vw;
        }
    }
}
