@import "../../../styles/variables";

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.625vw;
    height: 35.8125vw;
    background-color: $white;
}

.cover {
    width: 100%;
    height: 58.6%;
    background-size: cover;
}

.description {
    padding: 12% 4.14%;
    color: $black;
    font-family: $gilroy-400;
    font-size: 1.5vw;
    text-align: center;

    &-text {
        margin: 0 0 10%;
    }
}
