@import "@/styles/variables";

.header {
    margin-top: 27px;

    @media (max-width: $screenXl) {
        margin-top: 31px;
    }

    @media (max-width: $screenSm) {
        margin-top: 16px;
    }

    & img {
        cursor: auto;
    }
}
