@import "../../../styles/variables";

.case-item {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: $white;

    @media (max-width: $screenLg) {
        height: auto;
    }
}

.info {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
    padding: 9.375vw 9.375vw 9.375vw 15.125vw;

    @media (max-width: $screenXl) {
        padding: 7.8125vw 7.8125vw 7.8125vw 13.125vw;
    }

    @media (max-width: $screenLg) {
        width: 100%;
        height: auto;
        padding: 9.6354vw 7.8125vw 3.125vw;
    }
}

.headline {
    margin-top: 0;
    margin-bottom: 0;
    color: $grayBlack;
    font-family: $inter-400;
    font-size: 1.5vw;
    line-height: 1.35em;
    letter-spacing: 0.05em;

    @media (max-width: $screen2Xl) {
        font-size: 24px;
    }

    @media (max-width: $screenXl) {
        font-size: 1.875vw;
    }

    @media (max-width: $screenLg) {
        font-size: 1.823vw;
    }

    @media (max-width: $screenSm) {
        font-size: 12px;
    }
}

.title {
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: $black;
    font-family: $gilroy-600;
    font-size: 3vw;
    line-height: 1.2em;

    @media (max-width: $screen2Xl) {
        margin-top: 3vw;
        margin-bottom: 1.5vw;
        font-size: 48px;
    }

    @media (max-width: $screenXl) {
        font-size: 3.75vw;
    }

    @media (max-width: $screenLg) {
        font-size: 3.125vw;
    }

    @media (max-width: $screenSm) {
        font-size: 24px;
    }
}

.description {
    margin-top: 0;
    color: $black;
    font-family: $inter-400;
    font-size: 1.5vw;

    @media (max-width: $screen2Xl) {
        font-size: 24px;
    }

    @media (max-width: $screenXl) {
        font-size: 1.875vw;
    }

    @media (max-width: $screenLg) {
        font-size: 1.823vw;
    }

    @media (max-width: $screenSm) {
        font-size: 12px;
    }
}

.skip-button {
    width: 3.5vw;
    height: 3.5vw;
    margin-top: auto;
    padding: 0;
    background: none;
    border: 0.125vw solid $black;
    border-radius: 50%;
    cursor: pointer;

    @media (max-width: $screen2Xl) {
        width: 56px;
        height: 56px;
        border: 2px solid $black;
    }

    @media (max-width: $screenLg) {
        display: none;
    }

    &-img {
        width: 100%;
        height: 100%;
        transition: transform 0.15s ease-out;
        transform: translate3d(0, 0, 0);

        &:hover {
            transform: translate3d(0, 3%, 0);
        }
    }
}

.image {
    width: 35vw;
    height: 100vh;
    background-size: cover;

    @media (max-width: $screenLg) {
        width: 100vw;
        height: 94.8vw;
    }

    @media (max-width: $screenSm) {
        height: 100vw;
    }
}
