@import "../../../styles/variables";

.info {
    display: flex;
    flex-direction: column;
    width: 1040px;
    height: 900px;
    padding: 150px 150px 150px 242px;

    @media (max-width: $screen2Xl) {
        width: 65vw;
        height: 100vh;
        padding: 9.375vw 9.375vw 9.375vw 15.125vw;
    }

    @media (max-width: $screenXl) {
        padding: 7.8125vw 7.8125vw 7.8125vw 13.125vw;
    }

    // for non standard screen resolutions
    @media (max-height: 850px) {
        padding: 16vh 6vw 16vh 15.125vw;
    }
    //

    @media (max-width: $screenLg) {
        width: 100%;
        height: auto;
        padding: 9.6354vw 7.8125vw 3.125vw;
    }
}

.headline {
    margin-top: 0;
    margin-bottom: 0;
    color: $grayBlack;
    font-family: $inter-400;
    font-size: 24px;
    line-height: 1.35em;
    letter-spacing: 0.05em;

    @media (max-width: $screenXl) {
        font-size: 1.875vw;
    }

    @media (max-width: $screenLg) {
        font-size: 1.823vw;
    }

    @media (max-width: $screenSm) {
        font-size: 12px;
    }
}

.title {
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: $black;
    font-family: $gilroy-600;
    font-size: 48px;
    line-height: 1.2em;

    @media (max-width: $screen2Xl) {
        margin-top: 3vw;
        margin-bottom: 1.5vw;
    }

    @media (max-width: $screenXl) {
        font-size: 3.75vw;
    }

    @media (max-width: $screenLg) {
        font-size: 3.125vw;
    }

    @media (max-width: $screenSm) {
        font-size: 24px;
    }
}

.description {
    margin-top: 0;
    color: $black;
    font-family: $inter-400;
    font-size: 23px;

    & > p {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    @media (max-width: $screenXl) {
        font-size: 1.875vw;
    }

    // for non standard screen resolutions
    @media (max-height: 800px) {
        font-size: 2.86vh;
    }

    @media (max-height: $screenXs) {
        font-size: 12px;
    }
    //

    @media (max-width: $screenLg) {
        font-size: 1.823vw;
        line-height: 1.48em;
    }

    @media (max-width: $screenSm) {
        font-size: 12px;
        line-height: 1.5em;
    }
}

.skip-button {
    width: 56px;
    height: 56px;
    margin-top: auto;
    padding: 0;
    background: none;
    border: 2px solid $black;
    border-radius: 50%;
    cursor: pointer;

    @media (max-width: $screenLg) {
        display: none;
    }

    &-img {
        width: 100%;
        height: 100%;
        transition: transform 0.15s ease-out;
        transform: translate3d(0, 0, 0);

        &:hover {
            transform: translate3d(0, 3%, 0);
        }
    }
}

.image {
    height: 900px;
    width: 83.333vh;
    min-width: 35vw;
    background-size: cover;

    @media (max-width: $screen2Xl) {
        height: 100vh;
    }

    @media (max-width: $screenLg) {
        width: 100vw;
        height: 94.8vw;
    }

    @media (max-width: $screenSm) {
        height: 100vw;
    }
}
