@import "../../../styles/variables";
@import "../../../styles/mixins";

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-bottom: 3vw;
    margin-left: 9.375%;

    @media (max-width: $screenXl) {
        margin-bottom: 30px;
        margin-left: 7.8125vw;
    }

    @media (max-width: $screenLg) {
        margin-left: 7.8125vw;
    }

    @media (max-width: $screenMd) {
        margin-left: 7.8125vw;
    }

    @media (max-width: $screenSm) {
        margin-bottom: 15px;
    }

    @media (max-width: $screenXs) {
        margin-left: 7.8125vw;
    }
}

.reviews-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
    height: 30vw;
    margin-bottom: 2vw;

    @media (max-width: $screenXl) {
        height: 35vw;
    }

    @media (max-width: $screenLg) {
        height: 50vw;
        margin-bottom: 3.5vw;
    }

    @media (max-width: $screenXs) {
        height: 140vw;
    }

    @media (max-width: $screen2Xs) {
        height: 170vw;
    }

    @media (max-width: $screen3Xs) {
        height: 182vw;
    }

    &-en {
        @media (max-width: $screenXs) {
            height: 100vw;
        }

        @media (max-width: $screen2Xs) {
            height: 120vw;
        }

        @media (max-width: $screen3Xs) {
            height: 132vw;
        }
    }
}

.swiper {
    padding-left: 9.375%;

    @media (max-width: $screenXl) {
        padding-left: 7.8125vw;
    }

    @media (max-width: $screenLg) {
        padding-left: 7.8125vw;
    }

    @media (max-width: $screenXs) {
        padding-left: 7.8125vw;
    }

    & div {
        scroll-snap-type: x mandatory;
    }
}

.swiper-slide {
    width: 62.75vw;

    &:last-child {
        width: 90.625vw;

        @media (max-width: $screenXl) {
            width: 92.1875vw;
        }

        @media (max-width: $screenLg) {
            width: 92.1875vw;
        }

        @media (max-width: $screenXs) {
            width: 92.1875vw;
        }
    }

    @media (max-width: $screenXl) {
        width: 64.618vw;
    }

    @media (max-width: $screenLg) {
        width: 77.48vw;
    }

    @include for-phone-only {
        width: 100vw;
    }

    @media (max-width: $screenXs) {
        width: 100vw;
    }
}

.bullets {
    display: flex;
    margin-left: 9.375vw;

    @media (max-width: $screenXl) {
        margin-left: 7.8125vw;
    }

    @media (max-width: $screenLg) {
        margin-left: 7.8125vw;
    }

    @media (max-width: $screenXs) {
        margin: 0;
        justify-content: center;
    }

    @include for-phone-only {
        display: none;
    }

    &-mobile {
        display: none;

        @include for-phone-only {
            display: flex;
            margin-top: 6.875vw;
            margin-right: 7.8125vw;
        }
    }
}

.button-bullet {
    width: 0.75vw;
    height: 0.75vw;
    padding: 0;
    background: #c3c3c3;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    @media (max-width: $screen2Xl) {
        width: 12px;
        height: 12px;
    }

    @media (max-width: $screenMd) {
        width: 8px;
        height: 8px;
    }

    @include for-phone-only {
        width: 6px;
        height: 6px;
    }

    @media (max-width: $screenXs) {
        width: 1.67vw;
        height: 1.67vw;
    }

    @media (max-width: $screen2Xs) {
        width: 6px;
        height: 6px;
    }

    &:not(:last-child) {
        margin-right: 2vw;

        @media (max-width: $screen2Xl) {
            margin-right: 32px;
        }

        @media (max-width: $screenMd) {
            margin-right: 20px;
        }

        @include for-phone-only {
            margin-right: 10px;
        }

        @media (max-width: $screenXs) {
            margin-right: 2.77vw;
        }

        @media (max-width: $screen2Xs) {
            margin-right: 10px;
        }
    }

    &-active {
        background: $black;
    }
}

.navigation {
    margin-right: 2.8125vw;

    @media (max-width: $screenXl) {
        margin-right: 4.6875vw;
    }

    @media (max-width: $screenLg) {
        margin-right: 7.812vw;
    }

    @include for-phone-only {
        display: none;
    }

    @media (max-width: $screenXs) {
        display: none;
    }
}

.forward-button,
.backward-button {
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 0.75vw;
    padding: 0;
    background: none;
    border: 0.125vw solid $black;
    border-radius: 50%;
    cursor: pointer;

    @media (max-width: $screen2Xl) {
        width: 56px;
        height: 56px;
        border: 2px solid $black;
    }

    @media (max-width: $screenLg) {
        width: 5.2vw;
        height: 5.2vw;
        border: 1px solid $black;
    }

    &-img {
        width: 100%;
        height: 100%;
    }
}

.button-hidden {
    display: none;
}

.button-disabled {
    opacity: 0.3;
    pointer-events: none;
}

.backward-click-area {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 9.375%;
    height: 100%;
    cursor: pointer;

    @media (max-width: $screenXl) {
        width: 7.8125vw;
    }
}
