@import "../../../styles/variables";

.headline {
    margin-top: 0;
    margin-bottom: 3vw;
    color: $white;
    font-family: $gilroy-600;
    font-size: 4vw;

    @media (max-width: $screenXl) {
        margin-bottom: 48px;
        font-size: 3.6719vw;
    }

    @media (max-width: $screenLg) {
        font-size: 3.125vw;
    }

    @media (max-width: $screenMd) {
        margin-bottom: 30px;
        font-size: 24px;
    }

    @media (max-width: $screenSm) {
        margin-bottom: 24px;
    }
}

.cards {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    column-gap: 2.7%;
    row-gap: 0;

    @media (max-width: $screenSm) {
        grid-auto-flow: row;
        row-gap: 7vw;
        column-gap: 0;
    }
}
