@import "../../../styles/variables";

.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.content {
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 90%;
    margin-top: auto;
    margin-bottom: 25px;
    padding: 15px 30px;
    background-color: $white;
    box-shadow: 0 2px 16px 0 rgb(0 0 0 / 20%);
    pointer-events: auto;

    @media (max-width: $screenSm) {
        flex-direction: column;
        align-items: flex-start;
        max-width: 95%;
        margin-bottom: 14px;
        padding: 20px 14px;
    }

    @media (max-width: $screenXs) {
        margin-bottom: 2.777vw;
        padding: 4.166vw 2.777vw;
        letter-spacing: 0;
    }
}

.text {
    margin-right: 15px;
    color: $black;
    font-family: $inter-400;
    font-size: 14px;
    line-height: 1.48em;

    @media (max-width: $screenSm) {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 16px;
    }

    @media (max-width: $screenXs) {
        margin-bottom: 4.166vw;
        font-size: 3.333vw;
    }

    & > br {
        display: none;

        @media (max-width: $screenLg) {
            display: inline;
        }
    }
}

.link {
    color: inherit;
    text-decoration: underline;
}

.button {
    padding: 8.5px 30px;
    color: $white;
    font-family: $gilroy-600;
    font-size: 14px;
    background-color: $black;
    border: none;
    border-radius: 0.7857em;
    transition: background-color 0.15s ease-out;
    cursor: pointer;

    @media (max-width: $screenSm) {
        align-self: flex-end;
    }

    @media (max-width: $screenXs) {
        padding: 2.361vw 8.333vw;
        font-size: 3.8888vw;
    }

    &:hover {
        background-color: $gray;
    }
}
